sandbox/
nohup.out
*.c
*.so
*.html
*.egg-info/
*.vcf
*.tbi
*.vcf.gz
*.yaml
*.claude/
build/
*.coverage*
.hypothesis/
htmlcov/
docs/_static/*.js
docs/_static/*.css
docs/_templates/
docs/_build/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.bbl
*.blg
*.dvi
*.xdv
pytest-coverage.txt
pytest.xml
CLAUDE.md
